*,::after,::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #EDF2F8;
  button{
    border: none;
    padding: 15px 20px;
    &:hover{
      color: rgb(0, 0, 0, 0.5);
    }
  }
  h3{
    display: inline;
    background-image: linear-gradient(#EDF2F8 20%,#F7865E 50%,#EDF2F8 20%);    
  }
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    .navbar{
      display: inherit;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 20px 20px 0px 20px;

      button{
        background-color: #EDF2F8;
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 20px;
        .link{
          text-decoration: none;
          color: black;
          &:hover{
            color: rgb(0, 0, 0, 0.5);
          } 
        }       
      }
      .img{
        width: 150px;
        height: auto;
        border-radius: 50%;
      }
      .left{
        display: inherit;
        align-items: center;
        .home_btn{
          margin-bottom: 20px;
          padding-left: 50px;
        }
      }
    }
    .brand{
        display: flex ;
        align-items: flex-end;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-bottom: 40px;
      .brand_h2_h1{    
        .brand_h1_1{
          font-size: 44px;
          padding: 0 10px 6px 0;
        }
        .brand_h2{
          font-size: 12px;
          font-family: Georgia, 'Times New Roman', Times, serif;
        }    
        
    }
    .brand_h1_2{
      font-size: 73px;
    }
    }
    .random{
      background-color:#FCE9E2;
      font-family: arial black;
      font-size: 18px;
      font-weight: 700;
      color: #F7865E;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #F7865E;
      border-radius: 50px;
      &:hover{
        background-color: #F7865E;
        color: #FCE9E2;
      }
    }
  }
  .home{
    font-family: Arial, Helvetica, sans-serif;
     min-height: calc(100vh - (70px + 346.89px));     
    .slider{
      border: 1px solid red;//*to be removed
      padding: 10px 0 0 0 ;
      margin: 0 0 10px 0;
      .slider_title{
        padding-left: 20px;
        font-size: 19px;
      }
      .slider_row{
        padding: 10px;
        background-color: #2196F3;
        margin: 40px 0 40px 0;
      }
    }
    .gallery{
      border: 1px solid red;//*to be removed
      padding: 10px 0 0 0 ;
      
      .gallery_heading{
          display: flex;
          justify-content: center;
          position: relative;
                    
          .gallery_title{
            font-size: 24px;
            padding-left: 20px;
            position: absolute;
            left: 0;
          }
          .gallery_search{
            border: 1px solid gray;
            border-radius: 50px;
            padding: 0px 20px;
            width: 33vw;
          }
          .search_container{
            display: flex;
            padding: 0 0 40px 0;      
      
            .search_btn{
              background-color: #EDF2F8;
              border: 1px solid gray;
              border-radius: 50px;
              font-family: Georgia, 'Times New Roman', Times, serif;
              font-size: 20px;
              font-weight: 700;
              padding: 5px 10px;
              margin-left: -30px;
              &:hover{
                color: rgb(0, 0, 0, 0.5);
              }
            }
          }
      }
      .gallery_grid{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        background-color: #2196F3;
        padding: 10px;
        margin-bottom: 40px;
        .gallery_grid_items{
          
        }
      }
    }
  }
  .about{
    min-height: calc(100vh - (70px + 346.89px));
  }
  .login{
    min-height: calc(100vh - (70px + 346.89px));
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0;
    .form-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
          font-size: 36px;
      }
      .login_email, .login_psw{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        width: 50%;
        label{
          font-size: 24px;
          margin: 10px 0;
        }
        input{
          height: 44px;
          border: 1px solid black;
          border-radius: 10px;
          padding: 10px;
        }
      }
      .login_btn{
        display: flex;
        gap: 100px;
        margin: 20px 0;
        button{
          font-size: 20px;
          font-weight: 800;
          background-color: #EDF2F8;
        }
      }     
    }
  }
  .error{ 
    min-height: calc(100vh - (70px + 346.89px));
    h1{
      text-align: center;
    }
  }
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 800;
    padding: 16px 0 16px 0;
  }
}

