@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Rubik:wght@300&display=swap');

// color palette:
$accent-color: #F7865E;
$font-brand: 'Bodoni Moda', sans-serif;
$font-titles: 'Arial Black';
$font-body: 'Rubic', sans-serif;
$textColor-body: #555555;
$blue: #EDF2F8;
$light-accent: #FCE9E2;

*,::after,::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  font-family: $font-body;
  background-color: $blue;
  a{
    text-decoration: none;
    color: inherit;
  }
  
  button{
    border: none;
    padding: 15px 20px;
    &:hover{
      color: rgb(0, 0, 0, 0.5);
    }
  }
  .pagination {
    margin-bottom: 8px;
    text-align: center;
    & a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    }
    & a:hover:not(.active) {
      background-color: #ddd;
    }
  }
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    .navbar{
      display: inherit;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-top: 20px;

      button{
        background-color: #EDF2F8;
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 20px;
        .link :hover{
          color: rgb(0, 0, 0, 0.5);
        }       
      }
      .left{ 
        display: inherit;
        align-items: center;
        .img{
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 40%;
          padding-right: 50px;
          }
      }
      .right{
        display: inherit;
        .login_btn{
          padding-right: 0;
        }
        .register_btn{
          padding-left: 6px;
        }
      }
    }
    .brand{
      display: flex;
      align-items: flex-end;
      font-family: $font-brand;;
      //padding-bottom:20px;

      .brand_h2_h1{    
        .brand_h1_1{
          font-size: 55px;
          padding: 0 10px 6px 0;
          text-transform: uppercase;
          letter-spacing: 10px;
        }
        .brand_h2{
          font-size: 18px;
          margin-bottom: -20px;
          white-space: pre;
        }    
      }
      .brand_h1_2{
        font-size: 73px;
        text-transform: uppercase;
      }
    }
    .random{
      // color: $accent-color;
      // background-color: $light-accent;
      // font-family: arial black;
      // font-size: 18px;
      // font-weight: 800;
      // color: #F7865E;
      // padding: 15px 32px;
      // margin-bottom: 40px;
      // border-radius: 50px;
      // box-shadow: 5px 10px 18px #d3e1f2;
      // cursor: pointer;
      // &:hover{
      //   transition-duration: 0.4s;
      //   background-color: #F7865E;
      //   color: #FCE9E2;
      //   box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      // }
    }
  }
  .home{
    font-family: $font-body;
     min-height: calc(100vh - (70px + 209px));  
    .slider{
      border-bottom: 1px solid rgb(213, 213, 213);
      .slider_title{
        padding-left: 20px;
        font-size: 19px;
        background-image: linear-gradient(#EDF2F8 20%,#F7865E 50%,#EDF2F8 20%);
      }
      .slider_row{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 40px;
        padding: 10px;
        margin: 10px 0 10px 0;
                
        .slider_item{
          .imgholder{
            position: relative;
            a {
              img{
                border: 1px solid rgb(213, 213, 213);
                border-radius: 10px;
                object-fit: cover;
                width: 100%;
                height: 10vh;      
              }
              h3{
                position: absolute;
                left: 0;
                bottom: 0;
                margin-bottom:5px;
                border-radius: 0 0 0 10px ;
                color: whitesmoke;
                background-color: gray;
              }
            }
          }
        }
      }
    }
    .gallery{
      padding-top: 20px ;
      .gallery_heading{
          display: flex;
          justify-content: center;
          position: relative;
                    
          .gallery_title{
            font-size: 24px;
            padding-left: 20px;
            position: absolute;
            left: 0;
            background-image: linear-gradient(#EDF2F8 20%,#F7865E 50%,#EDF2F8 20%);
          }
          .gallery_search{
            border: 1px solid gray;
            border-radius: 50px;
            padding: 0px 20px;
            width: 33vw;
          }
          .search_container{
            display: flex;
            padding: 0 0 40px 0;      
      
            .search_btn{
              background-color: #EDF2F8;
              border: 1px solid gray;
              border-radius: 50px;
              font-family: Georgia, 'Times New Roman', Times, serif;
              font-size: 20px;
              font-weight: 700;
              padding: 5px 10px;
              margin-left: -30px;
              &:hover{
                color: rgb(0, 0, 0, 0.5);
              }
            }
          }
      }
      .gallery_grid{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-gap: 10px;
        .gallery_item{
          .imgholder{
            position: relative;
            img{
              border: 1px solid rgb(213, 213, 213);
                  border-radius: 10px;
                  object-fit: cover;
                  width: 100%;
                  height: 15vh; 
            }
            h3{
              position: absolute;
                left: 0;
                bottom: 0;
                margin-bottom: 4px;
                border-radius: 0 0 0 10px ;
                color: whitesmoke;
                background-color: gray;
            }
          }
        }
      }
    }
  }
  .about{
    min-height: calc(100vh - (70px + 209px));
    .contact {
      width: 90%;
      display: flex;
      gap: 3%;
      h3{
        justify-self: flex-start;
      }
  
      &-form {
        font-family: $font-body;
        width: 50%;
        margin: 50px auto;
        color: $textColor-body;
  
        .feedback-input {
          color: $textColor-body;
          font-weight: 500;
          font-size: 18px;
          border-radius: 5px;
          line-height: 22px;
          // background-color: transparent;
          border: 2px solid grey;
          transition: all 0.3s;
          padding: 13px;
          margin-bottom: 15px;
          width: 100%;
          outline: 0;
  
          &:focus {
            border: 2px solid $accent-color;
          }
        }
  
        textarea {
          height: 150px;
          line-height: 150%;
          resize: vertical;
        }
  
        [type="submit"] {
          color: $accent-color;
          font-family: $font-body;
          width: 100%;
          background: $light-accent;
          border-radius: 5px;
          border: 0;
          cursor: pointer;
          font-size: 24px;
          padding-top: 10px;
          padding-bottom: 10px;
          transition: all 0.3s;
          margin-top: -4px;
          font-weight: 700;
  
          &:hover {
            background: $accent-color;
            color: $light-accent;
          }
  
          @media screen and (max-width: 600px) {
  
            input[type=submit] {
              width: 100%;
              margin-top: 0;
            }
          }
        }
      }
  
      // form end
      &-team {
        max-width: 50%;
        .chips {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          width: auto;
          overflow: hidden;
          margin-top: 40%;
  
          .chip {
            text-align: center;
            padding: 0 25px;
            height: auto;
            font-size: 16px;
            line-height: 50px;
            border-radius: 25px;
            background-color: $light-accent;
            margin-bottom: 10%;
            width: 100%;
  
            &:hover {
              transition-duration: 0.4s;
              color: $light-accent;
              background-color: $accent-color;
            }
  
            img {
              float: left;
              margin: 0 10px 0 -25px;
              height: 50px;
              width: 50px;
              border-radius: 50%;
            }
          }
        }
  
      }
    }
  }
  .login{
    min-height: calc(100vh - (70px + 209px)); 
    font-family: $font-body;
    padding: 20px 0;
    .form-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
          font-size: 36px;
      }
      .login_email, .login_psw{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        width: 50%;
        label{
          font-size: 24px;
          margin: 10px 0;
        }
        input{
          height: 44px;
          border: 1px solid black;
          border-radius: 10px;
          padding: 10px;
        }
      }
      .login_btn{
        display: flex;
        gap: 100px;
        margin: 20px 0;
        button{
          font-size: 20px;
          font-weight: 800;
          background-color: #EDF2F8;
        }
      }     
    }
  }
  .register{
    min-height: calc(100vh - (70px + 209px));
    display: flex;
    flex-direction: column;
    padding: 0 40px 0 40px;
    &-form{
      hr{
        border-top: 1px solid rgb(213, 213, 213);        
      }
    }
    &-heading, &-footing, &-signin{
      // padding: 20px;
      text-align: center;
      p{
        padding: 5px;
      }
      button{
        font-size: 20px;
        font-weight: 800;
        background-color: #EDF2F8;
      }
    }
    &-name, &-surname, &-email, &-password, &-pswrepeat{
      display: flex;
      flex-direction: column;
      input{
        color: $textColor-body;
        font-weight: 500;
        font-size: 18px;
        border-radius: 5px;
        line-height: 22px;
        // background-color: transparent;
        border: 2px solid grey;
        transition: all 0.3s;
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        outline: 0;
        
        &:focus {
          border: 2px solid $accent-color;
        }
      }
    }
  }
  .error{ 
    min-height: calc(100vh - (70px + 209px));
    h1{
      text-align: center;
    }
  }
  
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-body;
    font-size: 14px;
    font-weight: 800;
    padding: 16px 0 16px 0;
  }
  .random-activity{
    text-align: center;
    margin-bottom: auto;
    .randomize {
        color: $accent-color;
        background-color: $light-accent;
        font-family: arial black;
        font-size: 18px;
        font-weight: 800;
        color: #F7865E;
        padding: 15px 32px;
        margin-bottom: 40px;
        border-radius: 50px;
        box-shadow: 5px 10px 18px #d3e1f2;
        cursor: pointer;
        &:hover {
          transition-duration: 0.4s;
          background-color: #F7865E;
          color: #FCE9E2;
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
      }
    }
}
.activity_detail {
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: grey;
  h4 {
    color: whitesmoke;
  }
}



  